<div class="home-container">
  <div fxLayout="row">
    <div fxFlex="50%">
      <h1>Software Engineer</h1>
      <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit pretium ipsum, eu luctus mauris egestas vel. Morbi efficitur odio eget augue fermentum dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque laoreet eu lacus eget posuere. Suspendisse feugiat ante eu enim porttitor, sit amet tincidunt justo pulvinar. Ut vestibulum sed mauris quis pharetra. Sed sollicitudin varius eros ut cursus. Fusce pulvinar finibus quam posuere feugiat. Quisque dapibus eros vel justo facilisis finibus. Aliquam sodales nunc imperdiet libero sagittis, ac tincidunt nunc dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin tristique elit dolor, ut facilisis lorem molestie at.
          <br>
          Duis suscipit erat ut erat pharetra sollicitudin ac quis erat. Ut nibh nibh, scelerisque sed lobortis sit amet, varius efficitur ipsum. Cras accumsan nunc augue, in elementum nibh luctus vel. Morbi sed metus volutpat, semper libero sit amet, suscipit sapien. Nullam convallis lacinia fringilla. Cras et dapibus ante. Vivamus ex odio, laoreet sit amet imperdiet molestie, gravida sit amet purus. Nullam ac turpis finibus, porttitor nunc ut, dictum enim. Duis et egestas quam. Sed nisi velit, ornare sit amet molestie vitae, venenatis ut odio. Donec non suscipit libero. Aenean in lorem et quam consectetur scelerisque. Nullam feugiat aliquet augue eu dignissim. Pellentesque bibendum tortor a quam fringilla rutrum.
      </span>
    </div>
    <div fxFlex="50%" class="home-portrait"><img src="https://via.placeholder.com/350"></div>
  </div>
</div>